// General CSS

// Resetting some CSS
h1, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* { box-sizing: border-box;
    -moz-box-sizing: border-box; }

body{
  width: 100%;
  margin:0px 0px; padding:0px;
  background: #f4f8fb;
  font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; 
  color: #797979;
  text-align: center;
}
a{
  text-decoration: none;
  color: #5c9bc9;
}
a:hover{
  text-decoration: underline;
}
header{
  background-color: #183149;
  border-color: #3778a6;
  border-width: 0 0 5px 0;
  border-style: solid;
  float: left;
  padding: 0 30px;
  min-width: 100%;
  margin-bottom: 25px;
}
header ul{
  float: right;
  list-style-type: none;  
  vertical-align: middle;
  line-height: 30px;
}
header li{
  margin-left: 20px;
  display: inline;
}
header a{
  color: #5c9bc9;
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
}
header a:hover{
  color: #fafcfd;
  text-decoration: none;
}
header h1{
  float: left;
  font-size: 11px/150%;
  vertical-align: middle;
  line-height: 15px;
}
#container, #subpage {
  clear: both;
  max-width:900px;
  margin:0px auto;
  text-align:left;
} 
#subpage #index{
  padding: 5px 0px 5px 10px;
  border-color: #abcbe3;
  background-color: #e8f1f7;
  border-width: 1px;
  border-style: solid;
  width: 100%;
}
#subpage #index p{
  display: inline;
  margin-right: -23px;
}
#subpage #index ul{
  list-style-type: none;
  display: inline;
}
#subpage #index li{
  display: inline;
  margin-right: 15px;
}
#subpage table.downloads{
  width: 100%;
}
#subpage table.downloads tr td { padding-left: 15px; white-space: nowrap; }
#subpage tr.downloads td:first-child { width: 100%; padding-left: 0px; }
#subpage h3{
  border-bottom: 1px dotted #bbb;
}
#subpage .timestamp{
  float: right;
  font-size: .85em;
  margin: -3em .5em 0 0;
}
@media screen and (min-width: 600px) {
#placeholder {
  height: 250px;
}
}

/* section{
  padding: 15px;
  border-color: #abcbe3;
  background-color: #e8f1f7;
  border-width: 1px;
  border-style: solid;
  clear: both;
  height: 80%;
  width: 95.4%;
} */
#note{
  display: block;
  color: #851515;
  background: #FFC7C7;
  border-color: #851515;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#note img{
  float: right;
  padding-top: 1px;
  padding-right: 3px;
}

.translate table { border-collapse: collapse; width: 100%; } 
.translate {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.translate table td, .translate table th { padding: 3px 10px; }
.translate table thead th {
  background: #3778A6;
  color:#FFFFFF; 
  font-size: 15px; font-weight: bold; 
  border-left: 1px solid #0070A8; 
  width: 50%;
}
.translate table thead th:first-child { border: none; }
.translate table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 16px;font-weight: normal; padding-top: 5px;}
.translate table tbody td:first-child { border-left: none; }
.translate table tbody tr:last-child td { border-bottom: none; }
.translate table tbody tr:nth-child(2n){ background-color: #f4f8fb; }
.translate table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;}
.translate table tfoot td { padding: 0; font-size: 12px }
.translate table tfoot td div{ padding: 6px; }
.translate table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.translate table tfoot  li { display: inline; }
.translate table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #3778A6) );background:-moz-linear-gradient( center top, #006699 5%, #3778A6 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#3778A6');background-color:#006699; }
.translate table tfoot ul.active, .translate table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}
.translate table tbody td p{ padding: 5px; text-align: center; }
.translate{
  margin-top: 10px;
}

.translate table tbody a{
  text-decoration: none;
  color: #00496B;
}

select {
  border-style: none;
  text-align: center;
  color: white;
  font-size: 15px; font-weight: bold; 
  -webkit-appearance: none;
  width: 100%;
}

#search {
  background: #3778A6 url('../img/magnify.png') no-repeat;
  background-size: 20px;
  background-position: right 11px center;
  padding-right: 40px;
  padding-left: 7px;
  border-radius: 5px;
  height: 45px;
  padding-top: 5px;
}

input {
  border-radius: 2px;
  width: 100%;
  padding: 8px;
  //border: solid 1px #E5E5E5;
  border-width: 0px;
  font: normal 12px Verdana, Tahoma, sans-serif;
}


.fadeIn {
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        -o-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        -o-animation-duration:1s;
        animation-duration:1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } } 
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } } 
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } } 
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }  
